
.detail button{
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 15px 30px;
    color: #FFF;
    text-align: justify;
    font-size: 20px;
    font-weight: 700;
    border: none;
    outline: none;
}
.detail button.buy {
    background: #59ABD9;
}
.detail button.remove {
    background: #D95959;
}
.detail button.update {
    background: #EE742F;
}
.detail .card {
    border-radius: 5px;
    background: #F9F9F9;
    padding: 10px;
}

.detail img {
    margin-right: 50px;
    border-radius: 10px;
    width: 35%;
}

a {
    text-decoration: none;
}