{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Liste des formations</h1>

    <div class="products">
        {% for product in products %}
            {% include 'component/card-product.html.twig' %}
        {% else %}
            <p>Aucune formations en ligne</p>
        {% endfor %}
    </div>


    <a href="{{ path('app_product_new') }}">Create new</a>
{% endblock %}
