{# footer.twig #}

<footer class="bg-dark text-white text-center py-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <h5>{{'footer.reseaux' |trans}}</h5>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#"><i class='bx bxl-facebook icon-white'></i></a></li>
          <li class="list-inline-item"><a href="#"><i class='bx bxl-twitter icon-white'></i></a></li>
          <li class="list-inline-item"><a href="#"><i class='bx bxl-instagram icon-white'></i></a></li>
          <li class="list-inline-item"><a href="#"><i class='bx bxl-linkedin icon-white'></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-12">
        <p> <strong>{{'footer.adress' |trans}} :</strong> 24 rue Claude Tilier | <strong>{{'footer.phone' |trans}}</strong> 06 57 89 42 68 | <strong>Email :</strong> contact@talent-craft.com</p>
      </div>
    </div>
  </div>
</footer>
