{# navbar.twig #}
<nav class="d-flex align-items-center justify-content-between">
    <div class="logo d-flex align-items-center">
        <img src="{{ asset('images/logo.png') }}">
        <h1>Talent Craft</h1>
    </div>
    <ul class="d-flex">
        <li><a href="{{ path('app_product_index') }}">Accueil</a></li>
        <li><a href="{{ path('app_product_index') }}">Pannier</a></li>
        <li><a>Profil</a></li>
    </ul>
    <p>langue</p>
</nav>
