{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="msg-error">
        <h3>ERREUR 404</h3>
        <p><a href="{{ path('app_product_index') }}">Retourner</a> à la page d’accueil</p>
    </div>
    <img class="error" src="{{ asset('images/error.png') }}">
{% endblock %}